<o-form-layout-manager attr="Attendance" mode="tab" title="ATTENDANCE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="AttendanceTable" 
            service="Attendance" 
            entity="Attendance" 
            title="ATTENDANCE"
            keys="id"
            columns="id;course_offering_id;student_id;attendance_date;status" 
            header-actions="R;D"
            visible-columns="id;course_offering_id;student_id;attendance_date;status"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="course_offering_id" title="course_offering_id">
    <o-table-cell-renderer-service attr="course_offering_id" 
        service="CourseOffering" entity="CourseOfferingType" columns="id;id"
        parent-keys="id:course_offering_id"
        value-column="id" keys="course_offering_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="student_id" title="student_id">
    <o-table-cell-renderer-service attr="student_id" 
        service="Student" entity="StudentType" columns="id;name"
        parent-keys="id:student_id"
        value-column="name" keys="student_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #attendance_date attr="attendance_date" type="timestamp" label="attendance_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #status attr="status" title="status" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>