<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Instructor_form_edit" 
        service="Instructor" 
        entity="Instructor" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #email attr="email" label="email" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="COURSEOFFERING-instructor_id">
    <div layout-padding>
      <o-table 
        attr="CourseOfferingTable" 
        service="CourseOffering" 
        entity="CourseOffering" 
        keys="id"
        parent-keys="instructor_id:id"
        columns="id;classroom_id;course_id;instructor_id;semester_id"  
        horizontal-scroll="yes"
        detail-form-route="CourseOffering" 
        edit-form-route="CourseOffering"
        visible-columns="id;classroom_id;course_id;instructor_id;semester_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="classroom_id" title="classroom_id">
    <o-table-cell-renderer-service attr="classroom_id" 
        service="Classroom" entity="ClassroomType" columns="id;id"
        parent-keys="id:classroom_id"
        value-column="id" keys="classroom_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="course_id" title="course_id">
    <o-table-cell-renderer-service attr="course_id" 
        service="Course" entity="CourseType" columns="id;description"
        parent-keys="id:course_id"
        value-column="description" keys="course_id"
        visible-columns="description" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="instructor_id" title="instructor_id">
    <o-table-cell-renderer-service attr="instructor_id" 
        service="Instructor" entity="InstructorType" columns="id;name"
        parent-keys="id:instructor_id"
        value-column="name" keys="instructor_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="semester_id" title="semester_id">
    <o-table-cell-renderer-service attr="semester_id" 
        service="Semester" entity="SemesterType" columns="id;name"
        parent-keys="id:semester_id"
        value-column="name" keys="semester_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>