<o-form-layout-manager attr="Classroom" mode="tab" title="CLASSROOM">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ClassroomTable" 
            service="Classroom" 
            entity="Classroom" 
            title="CLASSROOM"
            keys="id"
            columns="id;location" 
            header-actions="R;D"
            visible-columns="id;location"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #location attr="location" title="location" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>